$primary: #161B22;
$alpha: #010409;
@mixin setBG($bg-color) {
    background-color: $bg-color;
}

@mixin setTextColor($text-color) {
    color: $text-color;
}
@mixin setBorderNeon{
    border: 2px solid $neon;
}