@import "../../var";
#titleBar{
    @include setBG($primary);
}
#activityBar{
    &>div:first-child{
        @include setBG($primary);
    }
}
body{
    @include setBG($alpha);
    color: white
}
input[type="text"]{
    @include setBG($primary);
    border: 1px solid rgba(255, 255, 255, 0.125);
}
#dialogWindow{
    @include setBG($primary);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    // background-color: rgba(17, 25, 40, 0.75);
    background-color: rgba(22, 27, 34, 0.493);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}