.title_bar {
    height: 12vh;
}

.activity_bar {
    height: 100-12vh;
}

#dialogWindow {
    height: 80vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10%;
}