.title_bar {
    height: 15vh;
}

.activity_bar {
    height: 100-15vh;

    &>div:first-child {
        &>div:nth-child(2) {
            height: 20vh;
            width: 20vw;

            &>ul {
                height: 100%;
               
            }
        }
    }
}